body {
    font-family: sans-serif;
    background-color: #f9fafc;
    margin: 0;
}

main {
    padding: 2% 5%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.content {
    margin-top:75px;
    width:95%;
    display: flex;
    flex-wrap: wrap;
}

.text {
    flex-direction: column;
    flex: 1;
}

span {
    font-size: 1rem;
    font-weight: normal;
}

.circles {
    position: relative;
    flex: 1;
}

.pink {
    position: absolute;
    background-color: rgba(247, 136, 167, 0.6);
    padding: 130px;
    border-radius: 50%;
    top: 50px;
    left: 100px;
}

.purple {
    position: absolute;
    background-color: rgba(207, 130, 213, 0.6);
    padding: 60px;
    border-radius: 50%;
    top:50px;
    left:300px;
}

.orange {
    position: absolute;
    background-color: rgba(247, 193, 162, 0.7);
    padding: 85px;
    border-radius: 50%;
    top:140px;
    left:300px;
}

a {
    text-decoration: none;
    color:#69696a;
    margin-right: 15px;
}

button {
    width: 125px;
    color:white;
    font-weight: bold;
    background-color: #000;
    border: 2px #000 solid;
    border-radius: 20px;
    padding: 5px 20px;
}

.butn {
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

p {
    border-left: 3px #69696a solid;
    padding-left: 15px;
    font-size:0.8rem;
    width: 85%;
}

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        margin-top:10px;
    }

    .circles {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    a {
        margin-top:10px;
        margin-right:0px;
    }

    .butn {
        margin-top:10px;
    }

    p {
        font-size:0.7rem;
    }

    main {
        padding: 1% 4%;
    }

    button {
        width:250px;
    }
}